@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;

}
.chatbox_input{
    text-align: center;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    background: linear-gradient(#0A3DA0 0%, #0A3DA0 130px, #d9dbd5 130px,  #d9dbd5 100%);

} 
.header{
    position: center;
    width: 1140px;
    height: 90px;
    background: #ededed;
}

.interview{
    margin-left: --15.5cm;
    padding-top: 10px;
}

.container{
position: center;
width: 1400px;
max-width: 100%;
height: calc(86vh - 40px);
background: #C3CDE1;
box-shadow: 0 1px 1px 0 rgba(0,0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,0,.06);
}
.cover{
    position: absolute;
    padding-top: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.imgText{
    position: relative;
    display: flex;
    justify-content: center ;
    align-content: center;
}

.imgText h4{
    font-weight:400  ;
    font-style: bold;
    font-size: 50px;
    padding-top: 20px;
    line-height: 1.2cm;
    margin-left: 15px;

}
.userimg{
    position: relative;
    width: 70px;
    height: 70px;
    
}

.btn{
    height: 2cm;
    width: 2cm;
    padding: 10px;
    margin-left: 1cm;
    margin-top: 11.5cm;
    background-color: #c3cde100;
}



ion-icon {
   
   
    margin-left: 3cm;
  
  }
 